/*---Font---*/

/*----Body styling---*/

body {
  padding: 0;
  margin: 0;
  background: #161616;
  border-left: 3rem solid#F8D800;
  border-right: 3rem solid#F8D800;
  border-top: 3rem solid #f8d800;
  height: 100%;
}

/*---Navbar---*/

.nav img {
  position: absolute;
  top: -3rem;
  left: -3rem;
  height: 3rem;
  width: 3rem;
}

.nav ul {
  position: absolute;
  right: -2rem;
  top: -2.5rem;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

/*---Site logo---*/

.site-logo {
  width: 100%;
  overflow: hidden;
  margin: auto;
  max-width: 600px;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: #fbbf01;
  font-size: 4rem;
  line-height: 0.8;
}

.blurb {
  width: 100%;
  margin: auto;
  max-width: 600px;
  padding-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  color: #fbbf01;
  font-size: 1.5rem;
}

.slide-left p {
  animation: 2s slide-left 1s forwards;
  transform: translateX(-150%);
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}

/*---Search Bar---*/

.search {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

.search input {
  width: 50vw;
}

/*---Grid---*/

.champ-grid {
  width: 90%;
  margin: auto;
}

.champ-grid img {
  margin: 3px 3px;
  max-width: 200px;
  min-width: 50px;
  width: 120px;
}

.item {
  display: inline-block;
  position: relative;
}

.item .champ-name {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.item:hover .champ-name {
  visibility: visible;
}

.item .champ-name::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.hide {
  display: none !important;
}

.pagination-buttons {
  margin: auto;
  display: none;
}

.prev.disabled,
.next.disabled {
  display: none;
}

/*---Lore page---*/

.splash-container {
  margin: auto;
  position: relative;
  max-width: 900px;
  width: 100%;
}

.splash {
  width: 100%;
  object-fit: cover;
}

.stats-bar {
  height: 28px;
  margin-top: 4px;
}

.name {
  color: gold;
}

#passive-image img,
#q-ability-image img,
#w-ability-image img,
#e-ability-image img,
#r-ability-image img {
  width: 50px;
  height: 50px;
  margin-top: 3px;
}

/*---Youtube Video---*/

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video {
  padding-bottom: 3rem;
}

/*---Contact form---*/

form {
  display: block;
}

.form-idea {
  padding-top: 30px;
  min-height: 240px;
  margin: 0 auto;
  max-width: 50%;
}

.form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

textarea.form-input {
  height: auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-input button {
  margin-top: 5px;
}

.btn-submit {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 5px;
}

/*---Footer---*/

footer {
  height: 3rem;
  background-color: #f8d800;
  margin-top: 50px;
}

/*---Media Queries---*/

@media (max-width: 700px) {
  .pagination-buttons {
    display: block;
  }
  .name {
    position: absolute;
    bottom: -16px;
    left: 20px;
    font-size: calc(40px - 22px);
    color: gold;
  }

  .item img {
    width: 15vw;
  }

  .site-logo {
    font-size: 2rem;
  }
}
