body {
  padding: 0;
  margin: 0;
  background: black;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-left: 2rem solid red;
  border-right: 2rem solid red;
  border-top: 2rem solid red;
  height: 100vh;
}

.navbar {
  height: 30vw;
}

.nav img {
  position: absolute;
  top: -2rem;
  left: -2rem;
  height: auto;
  width: 2rem;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
  text-decoration: none;
}

.nav ul {
  position: absolute;
  right: -2rem;
  top: -2rem;
}

.site-logo {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.search input {
  width: 60vw;
}

.search {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

.champ-grid img {
  margin: 4px 4px;
}

.pagination-buttons {
  margin: auto;
}

.form-idea {
  padding-top: 30px;
  min-height: 240px;
  margin: 0 auto;
  max-width: 50%;
}

form {
  display: block;
  margin-top: 0em;
}

.form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

textarea.form-input {
  height: auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-input button {
  margin-top: 5px;
}

.btn-submit {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 5px;
}

.hide {
  display: none !important;
}

.champ-grid {
  display: inline-flex;
  flex-wrap: wrap;
}

.item .champ-name {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.item .champ-name::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.item:hover .champ-name {
  visibility: visible;
}

.prev.disabled,
.next.disabled {
  border-color: gray;
  color: gray;
  pointer-events: none;
}

.container-grid {
  width: 90vw;
  margin: auto;
}

.splash-container {
  width: 80vw;
  margin: auto;
  position: relative;
}

.splash {
  width: 100%;
  object-fit: cover;
}
.name {
  color: gold;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media(min-width: 700px) {
  .pagination-buttons {
    display: none;
    align-content: center;
  }
  .name {
    position: absolute;
    bottom: -16px;
    left: 20px;
    font-size: calc(40px - 22px);
    color: gold;
  }
  .item {
    position: relative;
    flex: 1 0 19%;
  }
}
