body {    
    padding: 0;
    margin: 0;
    background: url("../images/gradient-hex.jpg")no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.navbar {
    height: 30vw;
}

.nav img {
    position: absolute;
    top: 0;
    left: 0;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
    text-decoration: none;
}

.nav ul {
    position: absolute;
    right: 0;
    top: 15px;
}


.site-logo {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

.search input {
    width: 60vw;

}

.search {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.champ-grid img {
    margin: 4px 4px;
    flex-wrap: wrap;
}

.champ-grid li {
    list-style: none;
}

.pagination-buttons {
    margin: auto;
}

.form-idea {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}

form {
    display: block;
    margin-top: 0em;
}

.form-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

textarea.form-input {
    height: auto;
}


.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.form-input button {
    margin-top: 5px;
}

.btn-submit {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 5px;
}

.hide{
	display: none;
}

.item {
    float: left;
}

.prev.disabled, .next.disabled {
	border-color: gray;
	color:gray;
	pointer-events: none;
}

.container-grid {
    width: 90vw;
    margin: auto;
}

@media screen and (min-width: 700px) {
    .pagination-buttons {
        display: none;
    }
}