/*---Font---*/

/*----Body styling---*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
  padding: 20px;
  background: #061c25;
}

body {
  padding: 0;
  margin: 0;
  background: #161616;
  border-top: 3rem solid #061c25;
  color: #fff;
}

/*---Navbar---*/

.nav img {
  position: absolute;
  top: -3rem;
  left: 0;
  height: 3rem;
  width: 3rem;
}

.nav ul {
  position: absolute;
  right: 0;
  top: -2.5rem;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

.icon {
  color: #fbbf01;
}

/*---Site logo---*/

.callout {
    width: 100%;
}

.site-logo {
  color: #fbbf01;
  font-size: 4rem;
  line-height: 0.8;
}

.blurb {
  color: #fbbf01;
  font-size: 1.5rem;
}

/*---Search Bar---*/

#dropdown {
    margin-right: 19px;
    margin-bottom: 7px;
    height: 30px;
    width: 100%;
}

.champ-search {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    width: 100%;
}

.search-box {
    position: relative;
}


.mag{
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 22px;
  color: #5078ef;
  cursor: pointer;
}

/*---Grid---*/

.champ-grid {
  width: 80%;
  margin: auto;
}

.champ-grid img {
  margin: 3px 3px;
  width: 86px;
}

.item {
  display: inline-block;
  position: relative;
}

.item .champ-name {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.item:hover .champ-name {
  visibility: visible;
}

.item .champ-name::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.hide {
  display: none !important;
}

.pagination-buttons {
  margin: auto;
  display: none;
}

.page-num {
  position: relative;
  top: 6px;
}

.button {
  color: #fff;
  text-decoration: underline;
}

.button:hover {
  color: rgb(0, 162, 255);
  text-decoration: underline;
}

.prev.disabled,
.next.disabled {
  display: none;
}

/*---Lore page---*/

.splash {
  width: 100%;
  object-fit: cover;
  margin-left: 15px;
  margin-right: 15px;
}

.stats-bar {
  height: 28px;
  margin-top: 4px;
}

#attackbar,
#defensebar,
#magicbar,
#difficultybar {
  font-size: 20px;
  white-space: nowrap;
}

.name {
  color: gold;
}

#passive-image img,
#q-ability-image img,
#w-ability-image img,
#e-ability-image img,
#r-ability-image img {
  width: 50px;
  height: 50px;
  margin-top: 3px;
}

/*---Youtube Video---*/

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video {
  padding-bottom: 3rem;
  width: 100%;
}

/*---Contact form---*/

.email img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid coral;
}

form {
  display: block;
}

.form-idea {
  padding-top: 30px;
  min-height: 240px;
  margin: 0 auto;
  max-width: 100%;
}

.form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

textarea.form-input {
  height: auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-input button {
  margin-top: 5px;
}

.btn-submit {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 5px;
}



/*---Media Queries---*/

@media (max-width: 700px) {
  .pagination-buttons {
    display: block;
  }

  .item img {
    width: 15vw;
  }

  .blurb {
    font-size: 5vw;
    padding-bottom: 1rem;
    margin: auto;
  }

  .site-logo {
    font-size: 6vw;
  }

  .champ-grid {
    width: 90%;
    margin: auto;
  }

  .search {
    width: 70vw;
    margin: auto;
  }

  #attackbar,
  #defensebar,
  #magicbar,
  #difficultybar {
    font-size: 10px;
  }

  .champions {
  margin-bottom:0;
}
}
